.noDataTxt {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.headCellContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.tableBarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tableBarItemGroup {
    display: flex;
    gap: 16px
}

.tableTitle {
    align-self: center;
}

.searchInput {
    width: 360px;
}
